// Name:            Sortable
// Description:     Component to create sortable grids and lists
//
// Component:       `ui-sortable`
//
// Sub-objects:     `ui-sortable-drag`
//                  `ui-sortable-placeholder`
//                  `ui-sortable-handle`
//
// Modifiers:       `ui-sortable-empty`
//
// States:          `ui-drag`
//
// ========================================================================


// Variables
// ========================================================================

$sortable-dragged-z-index:                       $global-z-index + 50 !default;

$sortable-placeholder-opacity:                   0 !default;

$sortable-empty-height:                          50px !default;


/* ========================================================================
   Component: Sortable
 ========================================================================== */

.ui-sortable {
    position: relative;
    @if(mixin-exists(hook-sortable)) {@include hook-sortable();}
}

/*
 * Deactivate pointer-events on SVGs in Safari
 */

.ui-sortable svg { pointer-events: none; }

/*
 * Remove margin from the last-child
 */

.ui-sortable > :last-child { margin-bottom: 0; }


/* Drag
 ========================================================================== */

.ui-sortable-drag {
    position: absolute !important;
    z-index: $sortable-dragged-z-index !important;
    pointer-events: none;
    @if(mixin-exists(hook-sortable-drag)) {@include hook-sortable-drag();}
}


/* Placeholder
 ========================================================================== */

.ui-sortable-placeholder {
    opacity: $sortable-placeholder-opacity;
    @if(mixin-exists(hook-sortable-placeholder)) {@include hook-sortable-placeholder();}
}


/* Empty modifier
 ========================================================================== */

.ui-sortable-empty {
    min-height: $sortable-empty-height;
    @if(mixin-exists(hook-sortable-empty)) {@include hook-sortable-empty();}
}


/* Handle
 ========================================================================== */

/* Hover */
.ui-sortable-handle:hover { cursor: move; }



// Hooks
// ========================================================================

@if(mixin-exists(hook-sortable-misc)) {@include hook-sortable-misc();}

// @mixin hook-sortable(){}
// @mixin hook-sortable-drag(){}
// @mixin hook-sortable-placeholder(){}
// @mixin hook-sortable-empty(){}
// @mixin hook-sortable-misc(){}
